*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    

}


header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.logo-img{
    height: 77px;
    width: 100px;
}
.logo{
    margin: 3%;
}

.tags{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.tags a{
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    padding: 10px;

}

.icons{
    display: flex;
    margin-right: 50px;
}

.icons img{
    height: 25px;
    margin: 10px;

}

.item-container{
    margin: 50px;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;

}
.item{
    margin: 20px;
    background: 93a3ab;
    transition: 0.5s;
    
   
}
.item:hover{
    
    box-shadow: 0 5px 15px #2e3437;
}
.info-container{
    margin-left: 15px;
}
.item-img{
    border: 1px solid gray;
    border-radius: 5px;
    height: 400px;
    width: 315px;
    background: #3085d6
    
    
}
.product-name{
    color: #636363;
}

.btn-add-to-cart{
    height: 28px;
    width: 110px;
    font-size: 13px;
    cursor: pointer;
    background-color: rgb(89, 89, 225);
    color: white;
    border: none;
    border-radius: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
  
  transition: transform .2s;
}
.btn-add-to-cart:hover{
    transform: scale(1.1);
    box-shadow: rgb(37, 37, 227);
}

.itemCount{
   background-color: rgb(108, 108, 242);
   color: white;
   white-space: nowrap;
   text-align: center;
   /* line-height: 10px; */
   padding: 0 6px;
   height: 10px;
   position: relative;
   border-radius: 50%;
   left: -19px;
    top: -33px;
   font-weight: 500;
   cursor: pointer;

}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price{
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount{
    color:rgb(59, 59, 202);
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.input{
    height: 30px;
    width: 200px;
    top: -10;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 3px;
}
.search-icon{
 margin-top: 12px;
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.message{
    display: none;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
